
<p>
  <strong>Title:</strong>
  <%= @cocktail.title %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @cocktail.ingredients %>
</p>

<p>
  <strong>Method:</strong>
  <%= @cocktail.method %>
</p>

<%= link_to 'Back', cocktails_path %>
